.pic {
    width: 35%;
    height: 35%;
    border-radius: 2px;
    padding-right: 4%;
}

#title {
    text-align: center;
    margin: 5% 3% -5% 8.5%;
    display: flex;
    flex-direction: row;
}

h4 {
    margin-bottom: 0 !important;
}

.box {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1.5rem !important;
}

#form_outter {
    display: flex;
    justify-content: center;
}

#displayImage {
    margin: 0 5rem 2rem 5rem;
}


#button_div {
    text-align: center;
}

.awnser_outter {
    padding: 2rem 3rem;
}

.awnser_inner {
    display: flex;
    flex-direction: row;
}

#logo_img {
    width: 23%;
    margin-right: 3%;
}

#mrowLogo {
    height: 150px;
    bottom: 0;
    position: fixed;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 0rem !important;
}

#footerTagline {
    bottom: 0;
    position: fixed;
    padding-left: 7.5%;
}

#connectIG {
    bottom: 0;
    position: fixed;
    right: 0;
    padding-right: 4%;
}

#reset {
    padding-top: 2%;
}

input {
    cursor: pointer;
} 

.img_title {
    display: flex;
    flex-direction: row;
}

